<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.grapesoft.www.colgate">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />>
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".datos"
            android:screenOrientation="landscape" />
        <activity android:name=".decision"
            android:screenOrientation="landscape" />
        <activity android:name=".caminoWHFR"
            android:screenOrientation="landscape" />
        <activity android:name=".caminoMPSS"
            android:screenOrientation="landscape" />
        <activity android:name=".escanea"
            android:screenOrientation="landscape"/>
        <activity android:name=".video"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".tusdatos"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_tusdatos"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".sana"
            android:screenOrientation="landscape"/>
        <activity android:name=".sanados"
            android:screenOrientation="landscape"/>
        <activity android:name=".foto"
            android:screenOrientation="landscape"
            ></activity>
    </application>

</manifest>